# Hãy copy file này thành ".env" và điền API key của bạn vào đây
# Việc sử dụng file .env giúp giữ bí mật API key vì file này thường được bỏ qua trong git (.gitignore)
VNSTOCK_API_KEY=your_api_key_here
