# Hãy copy file này thành ".env" và điền API key của bạn vào đây
# Việc sử dụng file .env giúp giữ bí mật API key vì file này thường được bỏ qua trong git (.gitignore)

# Thiết lập API Key cho VNStock (nếu có tài khoản)
VNSTOCK_API_KEY=your_api_key_here

# Cấu hình gửi email kết quả PDF tự động (Dùng App Password)
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
GMAIL_RECEIVERS=email1@gmail.com,email2@gmail.com,email3@gmail.com
